@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.largeMessage {
    font-size: 128px;
    padding: 128px;
    font-family: "Roboto", sans-serif;
}

.captionMessage {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
}

.connected {
    font-family: "Roboto Mono", monospace;
}

.imagesContainer {
    padding: 128px;
}

.img {
    margin: 8px;
}